body {
  background: #fd79a8;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.form-area {
  width: 290px;
  height: 470px;
  background: #55efc4;
  border-radius: 18px; }
