@import "./function";

body {
  background: #fd79a8;
  // for center the form item
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-area {
  position: relative; // for fixed input on bottom
  width: 290px;
  height: 470px;
  background: #55efc4;
  border-radius: 18px;

  // style the navbar of chat bot
  nav {
    width: 100%;
    height: 60px;
    @include radius-setting-top();
    //the layout setting
    display: flex;
    align-items: center;

    background: #2d3436;
    .profile-img img {
      @include profile();
    }
  }

  .input-box {
    height: 38px;
    position: absolute;
    bottom: 0 !important;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    input {
      width: 290px;
      height: 38px;
      border: 0px solid white;
      border-radius: 18px;
    }
    i {
      position: absolute;
      cursor: pointer;
      padding-right: 9px;
    }
  }

  // messeges
  .messages {
    margin-top: 200px;

    .userr {
      position: absolute;
      right: 0;
    }
  }
}
